<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.mumandroidassignment">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".lesson3.Question1ByKotlin" />
        <activity android:name=".lesson3.Question1ByJava" />
        <activity android:name=".lesson3.Question2ByKotlin" />
        <activity android:name=".lesson3.Question2ByJava" />
        <activity android:name=".lesson4.bykotlin.ui.LoginActivity" />
        <activity android:name=".lesson4.bykotlin.ui.RegisterActivity" />
        <activity android:name=".lesson4.bykotlin.ui.ShoppingActivity" />
        <activity android:name=".lesson5.byjava.question1.MainActivity" />
        <activity android:name=".lesson4.byjava.LoginActivity" />
        <activity android:name=".lesson4.byjava.RegisterActivity" />
        <activity android:name=".lesson4.byjava.ShoppingActivity" />
        <activity android:name=".lesson5.bykotlin.question2.ui.activity.ElectronicActivity" />
        <activity android:name=".lesson5.bykotlin.question2.ui.activity.BeautyActivity" />
        <activity android:name=".lesson5.bykotlin.question2.ui.activity.ClothingActivity" />
        <activity android:name=".lesson5.bykotlin.question2.ui.activity.FoodActivity" />
        <activity android:name=".lesson5.bykotlin.question2.ui.activity.DetailActivity" />
        <activity android:name=".lesson5.byjava.question2.DetailActivity" />
        <activity android:name=".lesson5.byjava.question2.ShoppingActivity" />
        <activity android:name=".lesson6.byKotlin.question1.MainActivity"></activity>
        <activity android:name=".lesson6.byjava.question1.MainActivity"></activity>
        <activity android:name=".lesson6.byjava.question2.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".lesson6.byjava.question2.RegisterActivity" />
        <activity android:name=".lesson6.byjava.question2.ShoppingActivity" />
    </application>

</manifest>