<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.mumandroidassignment">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".lesson3.Question1ByKotlin" />
        <activity android:name=".lesson3.Question1ByJava" />
        <activity android:name=".lesson3.Question2ByKotlin" />
        <activity android:name=".lesson3.Question2ByJava" />
        <activity android:name="app.mumandroidassignment.lesson4.bykotlin.ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="app.mumandroidassignment.lesson4.bykotlin.ui.RegisterActivity" />
        <activity android:name="app.mumandroidassignment.lesson4.bykotlin.ui.ShoppingActivity"></activity>
    </application>

</manifest>